$header-offset: 40px;
$gray:  #eef2f5;;

body{
    overflow-x: hidden;
    position: relative;
    height: 100%;
}

.Logistics{
    //padding-top:200px;
    text-align: center;
   
}

.color.green{
    color:#2fd071 !important; 
}

.g__getapp{
    cursor: pointer;
    z-index: 999;
}

#s1, #s2, #s3, #s4, #s5{
   overflow-x: hidden;
}

.Header{
    overflow: hidden;
}



.dropdown-fancy{
    .btn-secondary{
        width: 100%;
        background-color:white;
        color: red;   
    }

    .dropdown-toggle{
        float: right;
        margin-top:10px;
    }
}

#exampleModal{

    .modal-content{
        border-radius: 30px;
        border: 1px solid black;
    }

    .modal-header{
        display: block;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background-color: #ec405d;
        color: white;
        text-align: center;
        overflow: hidden;
        h5{
            font-size: 24px;
            font-weight: 700;
     
        }
        button{
            background: rgba(black, .3);
            position: absolute;
            right: 0px;
            top: 15px;
            margin-right: 0px;
            color:white;
            box-shadow: 0 0 0 0.2rem rgba(#ec405d,.25);
            border-bottom-left-radius: 50px;
            padding:23px;
        }

     
    }

    .form-control{
        &:focus{
            border-color: red;
            border-color:red;
            outline: none;
            box-shadow: 0 0 0 0.2rem rgba(#ec405d,.25);
        }

       
    }

    .form-group{
        input{
            border-radius: 30px;
            height: 50px;
        }
        select{
            border-radius:30px;
            height: 50px;
 
        }
        input[type=radio]{
            height: auto;
        }
    }

    .btn-submit{
        background-color: #ec405d;
        color:white;
        outline:none;
        border:none;
        width: 370px;
        max-width: 90%;
        margin: 0 auto;
        text-transform:uppercase;
        padding:16px 10px;
        border-radius: 20px;
        &:focus, &:active{
            outline:none;
            box-shadow: none;
        }

    }

    .btn-wrapper{
        text-align: center;;
    }

    .nipple-wrapper{
        text-align: center;
        img{
            width: 100px;
            margin-top:-12px;
            margin-bottom: 10px;
        }
    }

}

.Header{
    height: 100vh;
    min-height: 600px;
    .menu-btn{
        z-index: 99999;
        right: 10%;
        top: 10%;
    }
}

.header-inner-img, .header-circles{
    
    background-image: url(img/hq2.png);
    //background-image: url(img/header-fon-transparent.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: top;
    z-index: 700;
    .header-inner-inner-img{
        //background: rgba(red, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        background-size: cover;
        background-position: top;
        z-index: -1;
    }
}

.Header-fon{
    position: absolute;
    left:0;
    right: 0;
    z-index: 600;  
}

.itm-v{
    z-index: 800;
}

.header-circles{
  //  background: red;
    background-image: url(img/WomanCircle.png)
}

.slider-animation{
    .itm-v1{
        text-align:center;
        display: inline-block;
        position: absolute;
        color: white;
        z-index: 9999;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

$animation-duration: .7s;
$cubic-bezier:cubic-bezier(.98,.03,.22,.97);

.itm-chris{
    display: none;
}

.getapp-media1{
    opacity: 0;
   position: absolute;
   left: 0;
   right: 0;
   margin-left: auto; 
   margin-right: auto;
   animation-duration: $animation-duration;
   animation-timing-function: $cubic-bezier;
   //animation-name: button-in-media1;
   animation-delay: 1.3s;
   animation-fill-mode: forwards;
}

#headmov{
    .itm-v1{
        display: none;
        left: -1500px;
        background-position: 1000px;
    }

    .itm-v2{
        //display: none;
        display: block;
        .itm-buttons{
            left: 20%;
        }
    }

    .itm-v3{
        //display: none;
        display: block;
        .itm-buttons{
            width: 10%;
        }
    }

  
    .itm-buttons-v2-wrapper{
        display: block;
        position: relative;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        height: 30vh;
        .itm-buttons{
            width: 30%;
            position: absolute;
            left: -1000px;
            //top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: 0px;
            //animation: buttons-in $animation-duration $cubic-bezier 2s, buttons-out $animation-duration $cubic-bezier 6.3s;
            //animation-name: buttons-in, buttons-out;
            animation-duration: $animation-duration, $animation-duration;
            animation-timing-function: $cubic-bezier, $cubic-bezier;
            animation-delay: 0s, 3s;
            animation-fill-mode: forwards;
        }
    }

    .itm-buttons-v3-wrapper{
        .itm-buttons{
            left: -1000px;
             //animation: buttons-in $animation-duration $cubic-bezier 2s, buttons-out $animation-duration $cubic-bezier 6.3s;
            // animation-name: buttons-in-v3, buttons-out-v3;
             animation-duration: $animation-duration, $animation-duration;
             animation-timing-function: $cubic-bezier, $cubic-bezier;
             animation-delay: 0s, 3s;
             animation-fill-mode: forwards;
        }
    }
    

    .wrap-itm-buttons-ar{
        //animation: arrow-in 1.5s linear 3s;
        //animation-name: arrow-in;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-delay: 1s;
    }

    .itm-buttons-ok{
        //animation: check-mark 1.5s linear 4s;
       // animation-name: check-mark;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-delay: 2s;
    }

    .itm-anne{
        top: 40vh;
        left: -35%;
        width: 100%;
        max-width: 100px;
        // background: red;
        //animation: anne $animation-duration $cubic-bezier 2s, anne-out $animation-duration $cubic-bezier 4.3s;
        //animation-fill-mode: forwards;
        //animation: anne $animation-duration $cubic-bezier 2s;
        // animation-iteration-count: infinite;
        // -moz-animation-iteration-count: infinite;
        // -webkit-animation-iteration-count: infinite;
        // -o-animation-iteration-count: infinite;
    } 


    .itm-v2{
        background-position-x: -1500px;
        //animation: anne-background-in $animation-duration $cubic-bezier 2s, anne-background-out $animation-duration $cubic-bezier 6.3s;
        animation-duration: $animation-duration, $animation-duration;
        animation-timing-function: $cubic-bezier, $cubic-bezier;
        animation-delay: 0s, 3s;
        animation-fill-mode: forwards;
        //animation-name: anne-background-in, anne-background-out;
        //animation-iteration-count: 2;
        .itm-v2-buttons{

        }
    }

    .itm-v3{
        background-position-x: -1500px;
        //animation: anne-background-in $animation-duration $cubic-bezier 2s, anne-background-out $animation-duration $cubic-bezier 6.3s;
        animation-duration: $animation-duration, $animation-duration;
        animation-timing-function: $cubic-bezier, $cubic-bezier;
        animation-delay: 0s, 3s;
        animation-fill-mode: forwards;
        //animation-name: anne-background-in, anne-background-out;
    }

    .itm-v1{
        animation-duration: .5s, $animation-duration;
        animation-timing-function: $cubic-bezier, $cubic-bezier;
        animation-delay: 0s, 2s;
        animation-fill-mode: forwards;
        //animation-name: connected-in, connected-out;
    }

    .header-circles{
        animation-duration: 2s;
        animation-timing-function: $cubic-bezier;
        animation-delay: 0s;
        animation-fill-mode: forwards;
    }

}


@keyframes anne{
    0%{
        left: -30%;
    }
    100%{
        left: 35%;
    }
}

@keyframes anne-out{
    0%{
        left: 35%;
    }
    99%{
        left: 200%;
    }
    100%{

    }
};

@keyframes anne-background-in{
    0%{
        background-position-x: -1000px;
    }
    100%{
        background-position-x: center;
    }
}

@keyframes anne-background-out{
    0%{
        background-position-x: center;
    }
    100%{
        background-position-x: 2000px;
    }
}

@keyframes chris-background-in{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: center;
    }
}

@keyframes chris-background-out{
    0%{
        background-position-x: center;
    }
    100%{
        background-position-x: -1500px;
    }
}

@keyframes connected-in{
    0%{
        left: -1200px;
        background-position: 2000px;
    }
    100%{
        left: 0px;
        background-position: center;
    }
}

@keyframes connected-out{
    0%{
        left: 0px;
    }
    100%{
        left: 2000px;
    }
}

@keyframes man-circle-in{
    0%{
        left: 1500px;
    }
    100%{
        left: 0px;
    }
}


@keyframes arrow-in{
    0%{
        height: 80px;
    }
    25%{
        height: 30px;
    }
    50%{
        height: 80px;
    }
    75%{
        height: 30px;
    }
    100%{
        height: inital;
    }
    
}

@keyframes check-mark{
    0%{
        opacity: 1;
    }
    25%{
        opacity: .5;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }

}

@keyframes buttons-in{
    0%{
        left: -1000px;
    }
    100%{
        left: 0px;
    }
}

@keyframes buttons-out{
    0%{
        left: 0px;
    }
    100%{
        left: 1500px;
    }
}

@keyframes buttons-in-v3{
    0%{
        left: 2000px;
    }
    100%{
        left: 49%;
    }
}

@keyframes buttons-out-v3{
    0%{
        left: 49%;
    }
    100%{
        left: -2000px;
    }
}

@keyframes button-in-media1{
   0%{
       top: 500px;
       opacity: 0;
   }
   100%{
       top: 0px;
       opacity: 1;
   }
}



.Logistics{ 
    margin-top: -200px;
    .text_both{
        .left, .right{
            font-size: 24px;
            max-width: 250px;
            line-height:1.5;
            .bold, .color{
                font-size: 24px;
            }

        }
        .left{
            max-width: 180px;
        } 
    
    }

    .text{
        padding-bottom: 35px;
    }


    .img-app-demo{
        img{
            width: 80%;
        }
    }

}


.Map{
    margin-bottom: 0px;
    padding-top: 200px;
    .free_block{
        width: 400px;
    }
}

.testimonial-section{
    display: block;
    position: relative;
    border: 1px solid #eef2f5;;
    margin-left: -1px;
    margin-right: -1px;
 
    .elips{
        width: 100%;
        height: 130px;
        -webkit-clip-path: ellipse(54% 180px at 50% 150%);
                clip-path: ellipse(54% 180px at 50% 150%);
        background-color: #edf1f4; 
        margin-top: -200px;
    }

}


.testimonial-section .person .wrapp-imgages {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.testimonial-section .person .border-img {
    width: 28%;
    height: 28%; 
    transition: border-color .5s;
    img{
        transition: border-color .5s;
    }
}

.testimonial-section .person .border-img img {
    border: solid 7px #eef2f5;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: block;
    width: 100%; 
    bottom: -50px;
}

.testimonial-section .person .border-img img.center {
    // -webkit-box-shadow: 0 0 59px #181818;
    // box-shadow: 0 0 59px #181818;
    bottom: 0px;
}

.person-section{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    position: absolute;
    margin-top: -200px;
    z-index: 999;   
    width: 80%; 
    max-width: 800px;
    //background-color: #edf1f4;
}

.person-name-wrapper{
    margin-top: 25px;
    color: white;
    margin-bottom: 30px;
}

.testimonial-section{

    .selected-person.border-img{
        img{
            border: 5px solid red;
        }
    }

}


.person-name{
    font-size: 32px;
    margin-bottom: 25px;
    background: #ec435f;
    max-width: 200px;
    display: inline;
    padding: 10px 20px;
    
}

.carousel-testimonials{
    padding-top:10vw;
    background: #edf1f4;
    .item{
        width: 80%;
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
        p{
            font-size: 20px;
        }
    }

}


.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px; 
    opacity: 0.5;
    width: 12px;
}

.owl-dots{
    text-align: center;
    button span{
        border-radius: 15px;
        background: rgba(#87898a, 1);
        display: block;
        margin:0px 5px;
        width: 15px;
        height: 15px;
        transition: background-color 0.4s ease;   
    }
}

button.owl-dot{
    &.active{
        outline: none;
        span{
            background: rgba(#ec435f, 1);
        }
    }
   
}

.Snikpic{
    
    .text{
        font-size: 18px;
        line-height: 2;
        
    }

    .img-mobile{
        display: block;
        color: white;
        text-transform: uppercase;
        font-size: 30px;
        img{
            margin: 0 auto;
            max-width: 100%;
            width: 400px;
        }
    }

    .img-desktop{
        display: none;
        
     
    }

}

.Contact_us{

    .title{
        font-size: 30px;
    }

    .container input{
        font-size: 18px !important;
        padding: 15px 40px;
        margin-left: auto;
        margin-right: auto;
    }

    input, textarea{
        max-width: 480px;
        padding: 15px 40px;
    }

    input[type=name]{ 
        font-size: 18px !important;
    }

    textarea{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    input[type="submit"]{
        float: none;
        width: 480px;
    }

}

.Contact_us input[type=name], .Contact_us input[type=email], .Contact_us input[type=text], .Contact_us textarea{
    font-size: 18px;
}

.Footer{
    padding-top: 80px;
    .title{
        font-size: 30px;
    }

    input[type="email"]{
        margin-top: 40px;
        max-width: 400px;
        padding: 20px 30px;
        font-size: 20px;
        &:placeholder{
            font-size: 20px;
        }
    }
}

@media screen and (min-width: 1200px){

    .container-narrow{
        max-width: 960px;
    }
    
    .item-top{
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        img{
            max-width: 100%;
        }
    }



}

@media screen and (max-width: 1200px){

    .Logistics{
        .item img{
            width: 55%;
        }
        .text_both{
            //position: absolute;
            top: 240px; 
        }
    }

}

@media screen and (max-width: 991px){

    .Header-fon{
        
        .follow_us{
            display: none;
        }
        
    }

    #headmov .itm-v1{
     
        .itm-title{
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .Logistics{
        .item img{
            width: 85%;
        }
        .text_both{
            margin-top: -160px;
        }

        .text{
            font-size: 24px;
            padding-bottom: 30px;
        }

        .tel-header{
            max-width: 60%;
            margin: 0 auto;
        }

    }

    .Snikpic{
        .img-mobile{
            display: inline-block;
            img{
                width: 100%;
            }
        }
        .item-top{
            img{
                max-width: 100%;
            }
        }

        
    }

    .Map{
        .text{
            font-size: 36px;
            line-height: 1.4;
        }
    }

    .container-narrow{
    
    }

    .testimonial-section{
        //margin-top: 260px;
        .elips{
              margin-top: -300px;
        }
    }

    .person-section{
      
    }

    .Map{
       
    }


}


@media screen and (max-width: 991px){
    
    .Logistics{
        .text_both{
            max-width: 90%;
            top: 360px;
            .left, .right{
                font-size: 20px;
                line-height: 1.3;
                span, span.bold, span.color{
                    font-size: 20px;
                    line-height: 1.3;
                }
            }
        }
    }

    .Snikpic{
        .img-desktop{
            display: none;
        }
    }

    .snikpic-section-wrapper{
        background: blue;
        padding-bottom: 200px;
    }


    .testimonial-section{
        border: none;
        .elips{
            border: 1px solid #edf1f4;
        }
    }

    
    #headmov{

        .itm-buttons-v3-wrapper{
            .itm-buttons{
                width: 20%;
            }
        }
        

    }


}



@media screen and (max-width: 767px){

    body{
        
    }

    .Logistics{
        margin-top: -350px;
        .getapp-media1{
            margin-left: auto;
            right: 0px;
            margin-right: 0px;
            text-align: right;
        }
    }

    #headmov{

        .itm-logo{
            display: none;
            position: absolute;
            margin-left: 0px;
            margin-top: 40px;
            margin-left: 30px;
            &:before{
                display: none;
            }
            img{
                width: 80px;
            }
        }

        .itm-v1{
           animation-duration: .4s;
            .itm-title{
                top: 130px;
            }
        }

    }

    .Header-fon{
    
        
    }

    .Header{
        padding-top: 0px;
    }

    .Header{
        height: 100vh;
        margin-top: - $header-offset;
        padding-top: $header-offset; 

        .container{
            padding-top: 0px;
        }
        .menu-btn img{
            width: 20px;
            right: 15px;
        }

        .logo{
            width: 40px;
            left: 40px;
            top: 20px;
        }

        .follow_us{
            display: none;
            left: - 130px;
            :before{
                width: 30px;
            }
            .text{
                font-size: 18px; 
            }
        }

    }

    .Header-slider{
        .itm-buttons{
            i:before{
                font-size: 25px; 
            }
        }
        .wrap-itm-buttons-ar{
            height:45px;
        }
    }

    .map-section-wrapper{
        padding-bottom: 300px;
        background-color: #39a7ff;
    }

    .carousel-testimonials{
        padding-top:1vw;

    
    }



}

@media screen and (max-width: 575px){


    .Header{
        .menu-btn{
            top: 10%;
        }
    }

    #headmov{

        .itm-logo{
            margin-left: 0px;
            margin-top: 60px;
            margin-left: 30px;
            padding-top: 0px;
            padding-bottom: 0px;
            &:before{
                display: none;
            }
            img{
                width: 70px;
            }
        }

        .itm-v1{
            .itm-title{
                font-size: 40px;
                line-height: 1.4;
            }
        }

    }




    .Logistics {
        .getapp-media1{
            display: none;
            z-index: 999;
        }

        .getapp-media2{
            margin-top: 100px;
            position: relative; 
            top: 0px;
            z-index: 999;
           ;
        }
      
    }

    .Logistics{
        .item-2-media{
        
            .img-w-l, .img-w-r{
                display: block;
                text-align: center;
                .img-w{
                    width: auto;
                    max-width: 300px;
                    display: inline-block;
                    
                }
                .img-left{
                    margin-right: -70px;
                }

        
                .img-w-text{
                    width: 40%;
                    line-height: 2;
                    display: inline-block;
                    
                    div, div.right, div.left{
                        line-height: 1.3;
                        font-size: 20px;
                        span.bold, span.color{
                            font-size: 20px;
                        }
                        
                    }
                }
            }

            .img-w-l{
                margin-left: -40px;
                .img-w-text{
                    margin-left: -30px;
                }
            }


            .img-w-r{
                .img-w-text{
                    margin-right: -70px;
                }
            }

        }
       
    }

    .text.promo-text-after-images{
        max-width: 80%;
        margin: 0 auto;
        font-size: 24px;
        line-height: 1.4;
        padding-bottom: 0px;
        margin-bottom: 40px;
    }

    .img-app-demo{
        overflow: hidden;
        max-width: 120%;
        width: auto;
        margin-left: -70px;
        margin-right: -70px;
        margin-bottom: -70px;
        img{
            
        }
    }

    .Map{
        .text{
           
            max-width: 80%;
            margin: 0 auto;
            font-size: 30px;
            line-height: 1.4;
        }



        .free_block{
            max-width: 100%;
        }
    }

    .carousel-testimonials{
        padding-top:0px;
    }

    .testimonial-section{

    }

    .map-section-wrapper{
       
        padding-bottom: 200px; 
    }


    .Contact_us{
        input[type=submit]{
            width: 100%;
        }

    }


    @keyframes connected-in{
        0%{
            left: -1200px;
            background-position: 1000px;
        }
        100%{
            left: 0px;
            background-position: center;
        }
    }
  

}

@media screen and (max-width: 450px){

    #cta-popup{
        max-width: 100%;
        .modal-content{
            max-width: 320px;
            margin: 0 auto;
        }
    }

    #headmov{
        .itm-v1{
            .itm-title{
                font-size: 26px;
            }

        }
    }

    .Logistics .item-2-media{

        .text{
            text-align: center;
        }

        .img-w-l-img.img-w{
            display: block;
            margin: 0 auto;
            .img-left{
                margin-right: -60px;
            }
            .img-right{
                margin-left: -60px;
            }

        }

        .img-w-l, .img-w-r{
            .img-w-text div.s1-text{
                text-align: center;
                margin-top: 30px !important;
                br{
                    display: none;
                }
            }
            
        }

        .img-w-l{
            margin: auto;
            .img-w-text{
                margin: auto;
                width: 270px;
                max-width: 100%;
                .s1-text{
                    margin-bottom: 80px;
                }
            }

       
    
        }

        .img-w-r{
            display: flex;
            flex-direction: column-reverse;
            .img-w-text{
                width: 270px;
                max-width: 100%;
                margin:0 auto;
                .s1-text{
                    margin-bottom: 0px;
                }
            }
        }

     
    }

    .text.promo-text-after-images{
        max-width: 80%;
        margin: 0 auto;
        font-size: 24px;
        line-height: 1.4;
        padding-bottom: 0px;
        margin-bottom: 40px;
    }


    .Snikpic{
        .text{
            .light, .bold{
                font-size: 15px;
            }
    

        }

        
        .wrap-img{
            width: 120px;
            height: 120px;
            max-width: 70%;
            max-height: 70%;
            text-transform: uppercase;
            border-radius: 30px;
        }

        .item{
        
            padding-top: 30px;
            padding-bottom: 20px;
        }

    }

    .Map{
        
    }

    .testimonial-section{
        .person .border-img{
            width: 50%;
        }
    }

}

@media screen and (max-width: 420px){

    #headmov{
        .itm-v1{
            .itm-title{
                font-size: 20px;
            }

        }
    }

    .map-section-wrapper{
        padding-bottom: 260px;
    }

}