body {
  overflow-x: hidden;
  position: relative;
  height: 100%; }

.Logistics {
  text-align: center; }

.color.green {
  color: #2fd071 !important; }

.g__getapp {
  cursor: pointer;
  z-index: 999; }

#s1, #s2, #s3, #s4, #s5 {
  overflow-x: hidden; }

.Header {
  overflow: hidden; }

.dropdown-fancy .btn-secondary {
  width: 100%;
  background-color: white;
  color: red; }

.dropdown-fancy .dropdown-toggle {
  float: right;
  margin-top: 10px; }

#exampleModal .modal-content {
  border-radius: 30px;
  border: 1px solid black; }

#exampleModal .modal-header {
  display: block;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #ec405d;
  color: white;
  text-align: center;
  overflow: hidden; }
  #exampleModal .modal-header h5 {
    font-size: 24px;
    font-weight: 700; }
  #exampleModal .modal-header button {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 0px;
    top: 15px;
    margin-right: 0px;
    color: white;
    box-shadow: 0 0 0 0.2rem rgba(236, 64, 93, 0.25);
    border-bottom-left-radius: 50px;
    padding: 23px; }

#exampleModal .form-control:focus {
  border-color: red;
  border-color: red;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(236, 64, 93, 0.25); }

#exampleModal .form-group input {
  border-radius: 30px;
  height: 50px; }

#exampleModal .form-group select {
  border-radius: 30px;
  height: 50px; }

#exampleModal .form-group input[type=radio] {
  height: auto; }

#exampleModal .btn-submit {
  background-color: #ec405d;
  color: white;
  outline: none;
  border: none;
  width: 370px;
  max-width: 90%;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 16px 10px;
  border-radius: 20px; }
  #exampleModal .btn-submit:focus, #exampleModal .btn-submit:active {
    outline: none;
    box-shadow: none; }

#exampleModal .btn-wrapper {
  text-align: center; }

#exampleModal .nipple-wrapper {
  text-align: center; }
  #exampleModal .nipple-wrapper img {
    width: 100px;
    margin-top: -12px;
    margin-bottom: 10px; }

.Header {
  height: 100vh;
  min-height: 600px; }
  .Header .menu-btn {
    z-index: 99999;
    right: 10%;
    top: 10%; }

.header-inner-img, .header-circles {
  background-image: url(img/hq2.png);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: top;
  z-index: 700; }
  .header-inner-img .header-inner-inner-img, .header-circles .header-inner-inner-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: top;
    z-index: -1; }

.Header-fon {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 600; }

.itm-v {
  z-index: 800; }

.header-circles {
  background-image: url(img/WomanCircle.png); }

.slider-animation .itm-v1 {
  text-align: center;
  display: inline-block;
  position: absolute;
  color: white;
  z-index: 9999;
  left: 0;
  right: 0;
  margin: 0 auto; }

.itm-chris {
  display: none; }

.getapp-media1 {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: cubic-bezier(0.98, 0.03, 0.22, 0.97);
          animation-timing-function: cubic-bezier(0.98, 0.03, 0.22, 0.97);
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

#headmov .itm-v1 {
  display: none;
  left: -1500px;
  background-position: 1000px; }

#headmov .itm-v2 {
  display: block; }
  #headmov .itm-v2 .itm-buttons {
    left: 20%; }

#headmov .itm-v3 {
  display: block; }
  #headmov .itm-v3 .itm-buttons {
    width: 10%; }

#headmov .itm-buttons-v2-wrapper {
  display: block;
  position: relative;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  height: 30vh; }
  #headmov .itm-buttons-v2-wrapper .itm-buttons {
    width: 30%;
    position: absolute;
    left: -1000px;
    bottom: 0;
    margin-top: auto;
    margin-bottom: 0px;
    -webkit-animation-duration: 0.7s, 0.7s;
            animation-duration: 0.7s, 0.7s;
    -webkit-animation-timing-function: cubic-bezier(0.98, 0.03, 0.22, 0.97), cubic-bezier(0.98, 0.03, 0.22, 0.97);
            animation-timing-function: cubic-bezier(0.98, 0.03, 0.22, 0.97), cubic-bezier(0.98, 0.03, 0.22, 0.97);
    -webkit-animation-delay: 0s, 3s;
            animation-delay: 0s, 3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }

#headmov .itm-buttons-v3-wrapper .itm-buttons {
  left: -1000px;
  -webkit-animation-duration: 0.7s, 0.7s;
          animation-duration: 0.7s, 0.7s;
  -webkit-animation-timing-function: cubic-bezier(0.98, 0.03, 0.22, 0.97), cubic-bezier(0.98, 0.03, 0.22, 0.97);
          animation-timing-function: cubic-bezier(0.98, 0.03, 0.22, 0.97), cubic-bezier(0.98, 0.03, 0.22, 0.97);
  -webkit-animation-delay: 0s, 3s;
          animation-delay: 0s, 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

#headmov .wrap-itm-buttons-ar {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

#headmov .itm-buttons-ok {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

#headmov .itm-anne {
  top: 40vh;
  left: -35%;
  width: 100%;
  max-width: 100px; }

#headmov .itm-v2 {
  background-position-x: -1500px;
  -webkit-animation-duration: 0.7s, 0.7s;
          animation-duration: 0.7s, 0.7s;
  -webkit-animation-timing-function: cubic-bezier(0.98, 0.03, 0.22, 0.97), cubic-bezier(0.98, 0.03, 0.22, 0.97);
          animation-timing-function: cubic-bezier(0.98, 0.03, 0.22, 0.97), cubic-bezier(0.98, 0.03, 0.22, 0.97);
  -webkit-animation-delay: 0s, 3s;
          animation-delay: 0s, 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

#headmov .itm-v3 {
  background-position-x: -1500px;
  -webkit-animation-duration: 0.7s, 0.7s;
          animation-duration: 0.7s, 0.7s;
  -webkit-animation-timing-function: cubic-bezier(0.98, 0.03, 0.22, 0.97), cubic-bezier(0.98, 0.03, 0.22, 0.97);
          animation-timing-function: cubic-bezier(0.98, 0.03, 0.22, 0.97), cubic-bezier(0.98, 0.03, 0.22, 0.97);
  -webkit-animation-delay: 0s, 3s;
          animation-delay: 0s, 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

#headmov .itm-v1 {
  -webkit-animation-duration: 0.5s, 0.7s;
          animation-duration: 0.5s, 0.7s;
  -webkit-animation-timing-function: cubic-bezier(0.98, 0.03, 0.22, 0.97), cubic-bezier(0.98, 0.03, 0.22, 0.97);
          animation-timing-function: cubic-bezier(0.98, 0.03, 0.22, 0.97), cubic-bezier(0.98, 0.03, 0.22, 0.97);
  -webkit-animation-delay: 0s, 2s;
          animation-delay: 0s, 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

#headmov .header-circles {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.98, 0.03, 0.22, 0.97);
          animation-timing-function: cubic-bezier(0.98, 0.03, 0.22, 0.97);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes anne {
  0% {
    left: -30%; }
  100% {
    left: 35%; } }

@keyframes anne {
  0% {
    left: -30%; }
  100% {
    left: 35%; } }

@-webkit-keyframes anne-out {
  0% {
    left: 35%; }
  99% {
    left: 200%; }
  100% { } }

@keyframes anne-out {
  0% {
    left: 35%; }
  99% {
    left: 200%; }
  100% { } }

@-webkit-keyframes anne-background-in {
  0% {
    background-position-x: -1000px; }
  100% {
    background-position-x: center; } }

@keyframes anne-background-in {
  0% {
    background-position-x: -1000px; }
  100% {
    background-position-x: center; } }

@-webkit-keyframes anne-background-out {
  0% {
    background-position-x: center; }
  100% {
    background-position-x: 2000px; } }

@keyframes anne-background-out {
  0% {
    background-position-x: center; }
  100% {
    background-position-x: 2000px; } }

@-webkit-keyframes chris-background-in {
  0% {
    background-position-x: 1000px; }
  100% {
    background-position-x: center; } }

@keyframes chris-background-in {
  0% {
    background-position-x: 1000px; }
  100% {
    background-position-x: center; } }

@-webkit-keyframes chris-background-out {
  0% {
    background-position-x: center; }
  100% {
    background-position-x: -1500px; } }

@keyframes chris-background-out {
  0% {
    background-position-x: center; }
  100% {
    background-position-x: -1500px; } }

@-webkit-keyframes connected-in {
  0% {
    left: -1200px;
    background-position: 2000px; }
  100% {
    left: 0px;
    background-position: center; } }

@keyframes connected-in {
  0% {
    left: -1200px;
    background-position: 2000px; }
  100% {
    left: 0px;
    background-position: center; } }

@-webkit-keyframes connected-out {
  0% {
    left: 0px; }
  100% {
    left: 2000px; } }

@keyframes connected-out {
  0% {
    left: 0px; }
  100% {
    left: 2000px; } }

@-webkit-keyframes man-circle-in {
  0% {
    left: 1500px; }
  100% {
    left: 0px; } }

@keyframes man-circle-in {
  0% {
    left: 1500px; }
  100% {
    left: 0px; } }

@-webkit-keyframes arrow-in {
  0% {
    height: 80px; }
  25% {
    height: 30px; }
  50% {
    height: 80px; }
  75% {
    height: 30px; }
  100% {
    height: inital; } }

@keyframes arrow-in {
  0% {
    height: 80px; }
  25% {
    height: 30px; }
  50% {
    height: 80px; }
  75% {
    height: 30px; }
  100% {
    height: inital; } }

@-webkit-keyframes check-mark {
  0% {
    opacity: 1; }
  25% {
    opacity: .5; }
  50% {
    opacity: 1; }
  75% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes check-mark {
  0% {
    opacity: 1; }
  25% {
    opacity: .5; }
  50% {
    opacity: 1; }
  75% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@-webkit-keyframes buttons-in {
  0% {
    left: -1000px; }
  100% {
    left: 0px; } }

@keyframes buttons-in {
  0% {
    left: -1000px; }
  100% {
    left: 0px; } }

@-webkit-keyframes buttons-out {
  0% {
    left: 0px; }
  100% {
    left: 1500px; } }

@keyframes buttons-out {
  0% {
    left: 0px; }
  100% {
    left: 1500px; } }

@-webkit-keyframes buttons-in-v3 {
  0% {
    left: 2000px; }
  100% {
    left: 49%; } }

@keyframes buttons-in-v3 {
  0% {
    left: 2000px; }
  100% {
    left: 49%; } }

@-webkit-keyframes buttons-out-v3 {
  0% {
    left: 49%; }
  100% {
    left: -2000px; } }

@keyframes buttons-out-v3 {
  0% {
    left: 49%; }
  100% {
    left: -2000px; } }

@-webkit-keyframes button-in-media1 {
  0% {
    top: 500px;
    opacity: 0; }
  100% {
    top: 0px;
    opacity: 1; } }

@keyframes button-in-media1 {
  0% {
    top: 500px;
    opacity: 0; }
  100% {
    top: 0px;
    opacity: 1; } }

.Logistics {
  margin-top: -200px; }
  .Logistics .text_both .left, .Logistics .text_both .right {
    font-size: 24px;
    max-width: 250px;
    line-height: 1.5; }
    .Logistics .text_both .left .bold, .Logistics .text_both .left .color, .Logistics .text_both .right .bold, .Logistics .text_both .right .color {
      font-size: 24px; }
  .Logistics .text_both .left {
    max-width: 180px; }
  .Logistics .text {
    padding-bottom: 35px; }
  .Logistics .img-app-demo img {
    width: 80%; }

.Map {
  margin-bottom: 0px;
  padding-top: 200px; }
  .Map .free_block {
    width: 400px; }

.testimonial-section {
  display: block;
  position: relative;
  border: 1px solid #eef2f5;
  margin-left: -1px;
  margin-right: -1px; }
  .testimonial-section .elips {
    width: 100%;
    height: 130px;
    -webkit-clip-path: ellipse(54% 180px at 50% 150%);
    clip-path: ellipse(54% 180px at 50% 150%);
    background-color: #edf1f4;
    margin-top: -200px; }

.testimonial-section .person .wrapp-imgages {
  display: flex;
  justify-content: space-between; }

.testimonial-section .person .border-img {
  width: 28%;
  height: 28%;
  transition: border-color .5s; }
  .testimonial-section .person .border-img img {
    transition: border-color .5s; }

.testimonial-section .person .border-img img {
  border: solid 7px #eef2f5;
  border-radius: 50%;
  display: block;
  width: 100%;
  bottom: -50px; }

.testimonial-section .person .border-img img.center {
  bottom: 0px; }

.person-section {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: absolute;
  margin-top: -200px;
  z-index: 999;
  width: 80%;
  max-width: 800px; }

.person-name-wrapper {
  margin-top: 25px;
  color: white;
  margin-bottom: 30px; }

.testimonial-section .selected-person.border-img img {
  border: 5px solid red; }

.person-name {
  font-size: 32px;
  margin-bottom: 25px;
  background: #ec435f;
  max-width: 200px;
  display: inline;
  padding: 10px 20px; }

.carousel-testimonials {
  padding-top: 10vw;
  background: #edf1f4; }
  .carousel-testimonials .item {
    width: 80%;
    max-width: 650px;
    margin: 0 auto;
    text-align: center; }
    .carousel-testimonials .item p {
      font-size: 20px; }

.owl-theme .owl-controls .owl-page {
  display: inline-block; }

.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px; }

.owl-dots {
  text-align: center; }
  .owl-dots button span {
    border-radius: 15px;
    background: #87898a;
    display: block;
    margin: 0px 5px;
    width: 15px;
    height: 15px;
    transition: background-color 0.4s ease; }

button.owl-dot.active {
  outline: none; }
  button.owl-dot.active span {
    background: #ec435f; }

.Snikpic .text {
  font-size: 18px;
  line-height: 2; }

.Snikpic .img-mobile {
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 30px; }
  .Snikpic .img-mobile img {
    margin: 0 auto;
    max-width: 100%;
    width: 400px; }

.Snikpic .img-desktop {
  display: none; }

.Contact_us .title {
  font-size: 30px; }

.Contact_us .container input {
  font-size: 18px !important;
  padding: 15px 40px;
  margin-left: auto;
  margin-right: auto; }

.Contact_us input, .Contact_us textarea {
  max-width: 480px;
  padding: 15px 40px; }

.Contact_us input[type=name] {
  font-size: 18px !important; }

.Contact_us textarea {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.Contact_us input[type="submit"] {
  float: none;
  width: 480px; }

.Contact_us input[type=name], .Contact_us input[type=email], .Contact_us input[type=text], .Contact_us textarea {
  font-size: 18px; }

.Footer {
  padding-top: 80px; }
  .Footer .title {
    font-size: 30px; }
  .Footer input[type="email"] {
    margin-top: 40px;
    max-width: 400px;
    padding: 20px 30px;
    font-size: 20px; }
    .Footer input[type="email"]:placeholder {
      font-size: 20px; }

@media screen and (min-width: 1200px) {
  .container-narrow {
    max-width: 960px; }
  .item-top {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto; }
    .item-top img {
      max-width: 100%; } }

@media screen and (max-width: 1200px) {
  .Logistics .item img {
    width: 55%; }
  .Logistics .text_both {
    top: 240px; } }

@media screen and (max-width: 991px) {
  .Header-fon .follow_us {
    display: none; }
  #headmov .itm-v1 .itm-title {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; }
  .Logistics .item img {
    width: 85%; }
  .Logistics .text_both {
    margin-top: -160px; }
  .Logistics .text {
    font-size: 24px;
    padding-bottom: 30px; }
  .Logistics .tel-header {
    max-width: 60%;
    margin: 0 auto; }
  .Snikpic .img-mobile {
    display: inline-block; }
    .Snikpic .img-mobile img {
      width: 100%; }
  .Snikpic .item-top img {
    max-width: 100%; }
  .Map .text {
    font-size: 36px;
    line-height: 1.4; }
  .testimonial-section .elips {
    margin-top: -300px; } }

@media screen and (max-width: 991px) {
  .Logistics .text_both {
    max-width: 90%;
    top: 360px; }
    .Logistics .text_both .left, .Logistics .text_both .right {
      font-size: 20px;
      line-height: 1.3; }
      .Logistics .text_both .left span, .Logistics .text_both .left span.bold, .Logistics .text_both .left span.color, .Logistics .text_both .right span, .Logistics .text_both .right span.bold, .Logistics .text_both .right span.color {
        font-size: 20px;
        line-height: 1.3; }
  .Snikpic .img-desktop {
    display: none; }
  .snikpic-section-wrapper {
    background: blue;
    padding-bottom: 200px; }
  .testimonial-section {
    border: none; }
    .testimonial-section .elips {
      border: 1px solid #edf1f4; }
  #headmov .itm-buttons-v3-wrapper .itm-buttons {
    width: 20%; } }

@media screen and (max-width: 767px) {
  .Logistics {
    margin-top: -350px; }
    .Logistics .getapp-media1 {
      margin-left: auto;
      right: 0px;
      margin-right: 0px;
      text-align: right; }
  #headmov .itm-logo {
    display: none;
    position: absolute;
    margin-left: 0px;
    margin-top: 40px;
    margin-left: 30px; }
    #headmov .itm-logo:before {
      display: none; }
    #headmov .itm-logo img {
      width: 80px; }
  #headmov .itm-v1 {
    -webkit-animation-duration: .4s;
            animation-duration: .4s; }
    #headmov .itm-v1 .itm-title {
      top: 130px; }
  .Header {
    padding-top: 0px; }
  .Header {
    height: 100vh;
    margin-top: -40px;
    padding-top: 40px; }
    .Header .container {
      padding-top: 0px; }
    .Header .menu-btn img {
      width: 20px;
      right: 15px; }
    .Header .logo {
      width: 40px;
      left: 40px;
      top: 20px; }
    .Header .follow_us {
      display: none;
      left: -130px; }
      .Header .follow_us :before {
        width: 30px; }
      .Header .follow_us .text {
        font-size: 18px; }
  .Header-slider .itm-buttons i:before {
    font-size: 25px; }
  .Header-slider .wrap-itm-buttons-ar {
    height: 45px; }
  .map-section-wrapper {
    padding-bottom: 300px;
    background-color: #39a7ff; }
  .carousel-testimonials {
    padding-top: 1vw; } }

@media screen and (max-width: 575px) {
  .Header .menu-btn {
    top: 10%; }
  #headmov .itm-logo {
    margin-left: 0px;
    margin-top: 60px;
    margin-left: 30px;
    padding-top: 0px;
    padding-bottom: 0px; }
    #headmov .itm-logo:before {
      display: none; }
    #headmov .itm-logo img {
      width: 70px; }
  #headmov .itm-v1 .itm-title {
    font-size: 40px;
    line-height: 1.4; }
  .Logistics .getapp-media1 {
    display: none;
    z-index: 999; }
  .Logistics .getapp-media2 {
    margin-top: 100px;
    position: relative;
    top: 0px;
    z-index: 999; }
  .Logistics .item-2-media .img-w-l, .Logistics .item-2-media .img-w-r {
    display: block;
    text-align: center; }
    .Logistics .item-2-media .img-w-l .img-w, .Logistics .item-2-media .img-w-r .img-w {
      width: auto;
      max-width: 300px;
      display: inline-block; }
    .Logistics .item-2-media .img-w-l .img-left, .Logistics .item-2-media .img-w-r .img-left {
      margin-right: -70px; }
    .Logistics .item-2-media .img-w-l .img-w-text, .Logistics .item-2-media .img-w-r .img-w-text {
      width: 40%;
      line-height: 2;
      display: inline-block; }
      .Logistics .item-2-media .img-w-l .img-w-text div, .Logistics .item-2-media .img-w-l .img-w-text div.right, .Logistics .item-2-media .img-w-l .img-w-text div.left, .Logistics .item-2-media .img-w-r .img-w-text div, .Logistics .item-2-media .img-w-r .img-w-text div.right, .Logistics .item-2-media .img-w-r .img-w-text div.left {
        line-height: 1.3;
        font-size: 20px; }
        .Logistics .item-2-media .img-w-l .img-w-text div span.bold, .Logistics .item-2-media .img-w-l .img-w-text div span.color, .Logistics .item-2-media .img-w-l .img-w-text div.right span.bold, .Logistics .item-2-media .img-w-l .img-w-text div.right span.color, .Logistics .item-2-media .img-w-l .img-w-text div.left span.bold, .Logistics .item-2-media .img-w-l .img-w-text div.left span.color, .Logistics .item-2-media .img-w-r .img-w-text div span.bold, .Logistics .item-2-media .img-w-r .img-w-text div span.color, .Logistics .item-2-media .img-w-r .img-w-text div.right span.bold, .Logistics .item-2-media .img-w-r .img-w-text div.right span.color, .Logistics .item-2-media .img-w-r .img-w-text div.left span.bold, .Logistics .item-2-media .img-w-r .img-w-text div.left span.color {
          font-size: 20px; }
  .Logistics .item-2-media .img-w-l {
    margin-left: -40px; }
    .Logistics .item-2-media .img-w-l .img-w-text {
      margin-left: -30px; }
  .Logistics .item-2-media .img-w-r .img-w-text {
    margin-right: -70px; }
  .text.promo-text-after-images {
    max-width: 80%;
    margin: 0 auto;
    font-size: 24px;
    line-height: 1.4;
    padding-bottom: 0px;
    margin-bottom: 40px; }
  .img-app-demo {
    overflow: hidden;
    max-width: 120%;
    width: auto;
    margin-left: -70px;
    margin-right: -70px;
    margin-bottom: -70px; }
  .Map .text {
    max-width: 80%;
    margin: 0 auto;
    font-size: 30px;
    line-height: 1.4; }
  .Map .free_block {
    max-width: 100%; }
  .carousel-testimonials {
    padding-top: 0px; }
  .map-section-wrapper {
    padding-bottom: 200px; }
  .Contact_us input[type=submit] {
    width: 100%; }
  @-webkit-keyframes connected-in {
    0% {
      left: -1200px;
      background-position: 1000px; }
    100% {
      left: 0px;
      background-position: center; } }
  @keyframes connected-in {
    0% {
      left: -1200px;
      background-position: 1000px; }
    100% {
      left: 0px;
      background-position: center; } } }

@media screen and (max-width: 450px) {
  #cta-popup {
    max-width: 100%; }
    #cta-popup .modal-content {
      max-width: 320px;
      margin: 0 auto; }
  #headmov .itm-v1 .itm-title {
    font-size: 26px; }
  .Logistics .item-2-media .text {
    text-align: center; }
  .Logistics .item-2-media .img-w-l-img.img-w {
    display: block;
    margin: 0 auto; }
    .Logistics .item-2-media .img-w-l-img.img-w .img-left {
      margin-right: -60px; }
    .Logistics .item-2-media .img-w-l-img.img-w .img-right {
      margin-left: -60px; }
  .Logistics .item-2-media .img-w-l .img-w-text div.s1-text, .Logistics .item-2-media .img-w-r .img-w-text div.s1-text {
    text-align: center;
    margin-top: 30px !important; }
    .Logistics .item-2-media .img-w-l .img-w-text div.s1-text br, .Logistics .item-2-media .img-w-r .img-w-text div.s1-text br {
      display: none; }
  .Logistics .item-2-media .img-w-l {
    margin: auto; }
    .Logistics .item-2-media .img-w-l .img-w-text {
      margin: auto;
      width: 270px;
      max-width: 100%; }
      .Logistics .item-2-media .img-w-l .img-w-text .s1-text {
        margin-bottom: 80px; }
  .Logistics .item-2-media .img-w-r {
    display: flex;
    flex-direction: column-reverse; }
    .Logistics .item-2-media .img-w-r .img-w-text {
      width: 270px;
      max-width: 100%;
      margin: 0 auto; }
      .Logistics .item-2-media .img-w-r .img-w-text .s1-text {
        margin-bottom: 0px; }
  .text.promo-text-after-images {
    max-width: 80%;
    margin: 0 auto;
    font-size: 24px;
    line-height: 1.4;
    padding-bottom: 0px;
    margin-bottom: 40px; }
  .Snikpic .text .light, .Snikpic .text .bold {
    font-size: 15px; }
  .Snikpic .wrap-img {
    width: 120px;
    height: 120px;
    max-width: 70%;
    max-height: 70%;
    text-transform: uppercase;
    border-radius: 30px; }
  .Snikpic .item {
    padding-top: 30px;
    padding-bottom: 20px; }
  .testimonial-section .person .border-img {
    width: 50%; } }

@media screen and (max-width: 420px) {
  #headmov .itm-v1 .itm-title {
    font-size: 20px; }
  .map-section-wrapper {
    padding-bottom: 260px; } }
